# Dependencies
node_modules/
.expo/
.expo-shared/

# Build output
dist/
build/
android/app/build/
ios/Pods/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
.env

# VSCode settings (optional)
.vscode/
